// variables:

// // Colors :
$Strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);
$Dark-Grayish-Blue: hsl(210, 10%, 33%);
$Grayish-Blue: hsl(201, 11%, 66%);

// // Font size:
$FontBody: 112.5%;
